<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/normalize.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <div class="index-div">
        <div class="index-form-div">
            <form action="{{ url_for('result') }}" method="GET">
                <p>
                    <input type="text" name="dir" placeholder="Coloque la dirección local de búsqueda">
                    <input type="submit" value="Buscar">
                </p>
            </form>
        </div>
    </div>
</body>
</html>